.navbar {
  width: 100%;
  height: 4em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(93 111 125);
  color: white;
  font-size: .8em;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 100%;
  flex-grow: 1;
  background-color: rgb(66 80 91);
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: auto;
  width: 100%;
}

.navbar li:not(:first-child) {
  border-left: 1px solid white;
}

.navbar .logo {
  width: 12%;
  margin: auto;
  padding-left: 3em;
  padding-right: 3em;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding-bottom: .25em;
}

li.selected a {
  border-bottom: 2px solid rgb(237 134 67);
}

.navbar .username {
  padding-left: .5em;
  font-weight: 700;
}



